<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
<connectionStrings><add name="PosterNewEntities" connectionString="metadata=res://*/PosterModel.csdl|res://*/PosterModel.ssdl|res://*/PosterModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=avale1648deskto;initial catalog=PosterNew;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>