.img
{
    background: url(../images/lib.jpg) repeat;
    padding-top: 100px;
    padding-bottom: 100px;
    width:100%;
}
.g
{
    background-color: gray;
    float:left;
    width: 50%;
}
.lg
{
    background-color: lightgray;
    float:left;
    width: 50%;
}
.org
{
    background-color: orange;
    padding-top: 100px;
    padding-bottom: 100px;
    width:100%;
}
.sqr
{
    list-style-type: square;
}